.hero {
  position: relative;
  
  overflow: hidden; /* MUY IMPORTANTE */
}

/* Imagen */
.bgImage {
  position: absolute !important;
  inset: 0;
}

/* Fuerza el ajuste */
.bgImage img {
  object-fit: cover;
  object-position: center;
  
}

/* Overlay oscuro */
.overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(to bottom, rgba(55, 56, 51, 0.05),rgba(55, 56, 51, 0.35),rgba(55, 56, 51, 0.80), rgba(55, 56, 51, 1));
  /* background: rgba(54, 55, 50, 0.85); */
  
}

/* Contenido */
.herotext {
    margin-top: 100px;
    position: relative;
    text-align: center;
    top: 50%;
    padding: 0 10px;
    color: var(--primary);
    font-size: 28px;
    font-family: "Zalando Sans Expanded";

    
}

