.about {
    margin-top: 10%;

    background-color: var(--bg-card);
    padding: 20px;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    text-align: center;
}

.sectionTitle {
    font-size: 24px;
    color: var(--text-main);
    margin-bottom: 20px;
    font-family: "Zalando Sans Expanded";
}

.description {
    font-size: 18px;
    color: var(--text-secondary);
    line-height: 1.6;
}

/* Cards */

.highlights {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.card {
    background-color: var(--bg-main);
    padding: 2rem;
    border-radius: 8px;
    transition: 0.3s;
}

.card h3 {
    color: var(--primary);
    margin-bottom: 1rem;
}



/* Hover elegante */

.card:hover {
    transform: translateY(-5px);
    border: 1px solid var(--accent);
}

/* Responsive */

@media (max-width: 900px) {
    .highlights {
        grid-template-columns: 1fr;
    }
}

.imageGrid {
    margin-left: 9%;
    align-items: center;
    --gap: 30px;
    --num-cols: 2;
    --row-height:70px;

    box-sizing: border-box;
    padding: var(--gap);

    display: grid;
    grid-template-columns: repeat(var(--num-cols), 1fr);
    grid-auto-rows: var(--row-height);
    gap: var(--gap);

}

.imageGrid img {
    width: 70%;
    height: 100%;
    object-fit:contain;
    
}

@media screen and (max-width: 1024px) {
    .imageGrid {
        --num-cols: 2;
        --row-height: 50px;
    }
}