
.contact {
    margin-top: 50px;
    padding: 0px 20px 20px 20px;
}

.container {
  min-width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.sectionTitle {
  font-size: 4rem;
  color: var(--text-main);
  margin-bottom: 2rem;
  font-family: "Zalando Sans Expanded";
  text-align: center;
}

.description {
  font-size: 18px;
  color: var(--text-secondary);
  line-height: 1.6;
}

/* Cards */

.highlights {
  display: flex;
  grid-template-columns: repeat(3, 1fr);
  
}

.card {
  background-color: var(--bg-main);
  padding: 2rem;
  border-radius: 8px;
  transition: 0.3s;
}

.card h3 {
  color: var(--primary);
  margin-bottom: 1rem;
}

.card p {
  color: var(--text-secondary);
  font-size: 0.95rem;
  line-height: 1.5;
}

/* Hover elegante */

.card:hover {
  transform: translateY(-5px);
  border: 1px solid var(--accent);
}

/* Responsive */

@media (max-width: 900px) {
  .highlights {
    grid-template-columns: 1fr;
  }
}


/* FORM */

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  min-width: 50%;
  margin: 50px;
}

.form input,
.form textarea {
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-family: inherit;
}

.form button {
  background-color: #E26D5C;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

.form button:hover {
  opacity: 0.9;
}